<h3>Pages</h3> <br>
<table class="table table-striped" style="width:400px;">
	<?php foreach( $data['pages'] as $page_data ) : ?>
		<tr>
			<td><b><?=$page_data['title']?></b></td>
			<td align="right">
				<a href="/mvc3/admin/pages/edit/<?=$page_data['id']?>"><button class="btn btn-sm btn-primary">edit</button></a>
				<a href="/mvc3/admin/pages/delete/<?=$page_data['id']?>"><button class="btn btn-sm btn-warning" onclick="return confirmDelete();">delete</button></a>
			</td>
		</tr>
	<?php endforeach; ?>
</table>

<br>

<div>
	<a href="/mvc3/admin/pages/add/"><button class="btn btn-sm btn-primary">New Page</button></a>
</div>